<h2>Product Information</h2>

<p>Title: <%= @products = Product.find(params[:id]).title.inspect %></p>
<p>Price: <%= @products = Product.find(params[:id]).price.inspect %></p>
<p>Stock Quantity: <%= @products = Product.find(params[:id]).stock_quantity %></p>

